button{
    cursor: pointer;
    width: 110px;
    height: 45px;
    border: none;
    border-radius: 10px;
    margin: 0 10px;
}

.btn-routes{
    background-color: var(--secondary-green);
}

.btn-routes:hover{
    background-color: var(--secondary-green-dark);
}
.btn-routes.active{
    background-color: var(--primary-green);
}
.btn-routes.active:hover{
    background-color: var(--primary-green-dark);
}


