.route-container{
    display: flex;
    height: 160px;
    background-color: #252525;
}


.route-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    color: white;
    font-size: 16px;
    width: 90%;
}

.route-share-container{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.route-share-container img{
    width: 60px;
    height: 60px;
}

.route-info-container div{
    display: flex;
}
.route-info-container div p{
    color: #72AF88;
    margin-left: 10px;
}

.maps-container img{
    width: 100%;
}

@media (min-width: 768px) {
    .maps-container img{
        display: none;
    }
    .maps-container {
        width: 100vw;
        height: calc(100vh - 80px - 160px);
        background-image: url('https://www.ionos.es/digitalguide/fileadmin/DigitalGuide/Screenshots_2023/google-my-maps.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}