<section class="dinamic-table">
    <div class="container-title">
        <h2 class="title-table">{{ sectionTitle }}</h2>
    </div>
    <table mat-table>
      <tr *ngFor="let element of elements.slice().reverse(); let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ element.name || element.title }}</td>
        <td>
          <button class="btn-delete" (click)="onDelete(element)">
            <img src="icons/delete.png" alt="">
          </button>
        </td>
        <td>
          <button class="btn-info" (click)="goToRoute(element)">
            <img [src]="img" alt="">
          </button>
        </td>
      </tr>
    </table>
  </section>