<div class="container">
    <!-- Encabezado -->
    <app-header></app-header>

    <!-- Botones de navegación -->
    <app-navigation [userType]="this.sessionInfo.user.userType" ></app-navigation>

    <!-- Boton Nueva Ruta -->
    <div class="new-route">
      <button (click)="openCreateRouteModal()">Nueva ruta</button>
  </div>    

    <!-- Tabla de Rutas -->
     <div class="container-table">
       <app-dinamic-table [sectionTitle]="'Mis Rutas'" [elements]="routes" [routeToNavegate]="'ver-ruta'" [img]="'icons/ruta.png'" (deleteElement)="onDeleteElement($event)"></app-dinamic-table>
     </div>
  </div>