<div class="container">
    <!-- Encabezado -->
    <app-header></app-header>

    <!-- Botones de navegación -->
    <app-navigation [userType]="this.sessionInfo.user.userType" ></app-navigation>

    <!-- Boton Nuevo evento -->
    <div class="new-route">
      <button (click)="openCreateEventModal()">Nuevo evento</button>
  </div>    

    <!-- Tabla de eventos -->
     <div class="container-table">
       <app-dinamic-table [sectionTitle]="'Mis Eventos'" [elements]="events" [routeToNavegate]="'ver-evento'" [img]="'icons/evento.png'" (deleteElement)="onDeleteElement($event)"></app-dinamic-table>
     </div>
  </div>